body {
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); }
  body hr {
    width: 900px;
    background-color: #FFF;
    border: 1px solid #FFF;
    margin-left: auto;
    margin-right: auto; }
  body a {
    font-size: 20px;
    text-decoration: none;
    color: #33338d; }
  body h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #13b93f;
    font-size: 40px; }
  body h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #FFF;
    font-size: 30px; }
  body p {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FFF; }
  body ul {
    list-style: none; }

body {
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); }
  body .contenedor {
    display: grid;
    justify-content: center;
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  body header {
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    grid-area: header;
    display: flex;
    justify-content: center; }
  body nav {
    grid-area: nav; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }

body header .box_header {
  display: flex;
  justify-content: center; }

body header .redes_header {
  margin-top: 18px;
  margin-left: 920px; }

body header .logo_header {
  justify-content: center; }

body header .logotw {
  width: 25px; }

body header .logofb {
  width: 25px; }

body header .logoig {
  width: 25px; }

body {
  /* --comienzo nuevo menu*/
  /* --Hover submenu--*/ }
  body nav {
    margin-left: auto !important;
    margin-right: auto !important; }
  body .menu {
    text-align: center !important;
    width: 100% !important;
    border-radius: 5px;
    background-color: #2f923600 !important; }
  body .menu-colaps {
    justify-content: center !important; }
  body .menu-link {
    font-weight: bolder !important; }
  body .menu-link:hover {
    background-color: #2f9236 !important;
    border-radius: 5px; }
  body .menu-toggler {
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important; }
  body .menu-link {
    color: #FFF !important;
    font-family: 'Amatic SC', cursive !important;
    font-size: 25px; }
  body .submenugeneral {
    border: #4d4d4d !important;
    background-color: #2f923600 !important; }
  body .submenu {
    width: 50%;
    text-align: center;
    background-color: #2f923633 !important;
    color: #FFF !important;
    font-family: 'Amatic SC', cursive !important;
    font-size: 25px;
    font-weight: bolder !important;
    border-radius: 5px !important; }
  body .submenu:hover {
    background-color: #2f9236 !important;
    border-radius: 5px; }
  body .menu-toggler {
    background-color: #2f9236 !important; }

/* --Fin nuevo menu*/
body main {
  animation-duration: 2s;
  animation-name: titulo; }

@keyframes titulo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  body main .video {
    width: 900px;
    margin-left: auto !important;
    margin-right: auto !important; }
  body main .video iframe {
    width: 900px;
    height: 315px;
    margin-left: auto !important;
    margin-right: auto !important; }
  body main .cont_nosotros {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FFF;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px; }
  body main .FirmaADQ {
    margin-top: 0px; }
  body main .logoFirma img {
    width: 70px;
    margin-left: auto;
    margin-right: auto; }
  body main .perros_Gatos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; }
  body main .perfil {
    width: 380px;
    height: 400px;
    filter: sepia(20%);
    border-radius: 35px;
    margin: 6px; }
  body main .perfil:hover {
    border: 2px solid #FFF;
    filter: sepia(0%);
    margin: 20px;
    width: 380px;
    height: 400px;
    transform: scale(1.1, 1.1); }
  body main .gatosadultos {
    filter: sepia(20%); }
  body main .perrosadultos {
    filter: sepia(30%); }
  body main .gatosadultos:hover {
    border: 1px solid #FFF;
    filter: sepia(0%); }
  body main .perrosadultos:hover {
    border: 1px solid #FFF;
    filter: sepia(0%); }
  body main .cbody {
    background-color: #1f4a5c; }
  body main h5 {
    color: #2f9236; }
  body main .ico_Cards {
    width: 30px; }
  body main .box_Perfiles-dos {
    margin-top: 10px; }
  body main .carousel {
    text-align: center;
    border-radius: 5px !important;
    width: 900px !important; }
  body main .consejos {
    display: flex;
    justify-content: space-evenly; }
  body main .perrosadultos {
    margin: 2.5px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto; }
  body main .gatosadultos {
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto; }
  body main .form_asociate {
    margin-left: auto;
    margin-right: auto;
    width: 450px; }
  body main .Qr_MP {
    width: 200px;
    margin-left: auto;
    margin-right: auto; }
  body main img.Qr__MP-ayudanos {
    position: relative;
    left: 25px; }
  body main legend {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FFF;
    font-size: 35px; }
  body main label {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FFF;
    font-size: 25px; }

body footer {
  justify-content: space-around;
  display: block; }
  body footer .FooterCabezal {
    display: flex;
    justify-content: space-around;
    height: 134px; }
  body footer .Dona__Qr_MP {
    width: 70%;
    margin-top: 10px;
    margin-left: 0px; }
  body footer .FooterCabezal__contacto-tel, body footer .FooterCabezal__contacto-mail, body footer .FooterCabezal__contacto-ubi, body footer .FooterCabezal__contacto-Redes_footer-fb, body footer .FooterCabezal__contacto-Redes_footer-ig, body footer .FooterCabezal__contacto-Redes_footer-tw {
    width: 25px; }
  body footer .marcaFoorter, body footer .marca_Nosotros, body footer .marca_ayudanos, body footer .marca_perros, body footer .marca_gatos, body footer .marca_asociate, body footer .marca_adopta {
    background-color: grey;
    align-items: center;
    margin: 0px; }
    body footer .marcaFoorter p, body footer .marca_Nosotros p, body footer .marca_ayudanos p, body footer .marca_perros p, body footer .marca_gatos p, body footer .marca_asociate p, body footer .marca_adopta p {
      color: #FFF; }

body .btn-whatsapp {
  color: #FFF;
  position: fixed;
  right: 5px;
  bottom: 5px;
  border-radius: 560%;
  line-height: 80px;
  text-align: center;
  z-index: 999; }

body .btn-arriba {
  color: #FFF;
  position: fixed;
  left: 5px;
  bottom: 5px;
  border-radius: 560%;
  line-height: 80px;
  text-align: center;
  z-index: 999; }

@media screen and (max-width: 375px) and (min-width: 300px) {
  body {
    /* ---------------- Boton de subir---------------------------*/ }
    body main hr {
      width: 50%;
      background-color: #FFF;
      border: 1px solid #FFF;
      margin-left: auto;
      margin-right: auto; }
    body main .h2 {
      font-size: large; }
    body main .video {
      width: 300px;
      margin-left: auto;
      margin-right: auto; }
    body main .video iframe {
      width: 300px;
      height: 315px;
      margin-left: auto;
      margin-right: auto; }
    body main .carousel {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 300px !important; }
    body main .consejos {
      width: 50vh;
      display: block;
      margin: 10px;
      margin-right: auto !important;
      margin-left: auto !important; }
    body main .perros_Gatos {
      display: grid;
      align-items: center; }
    body main .perfil {
      width: 280px;
      height: 300px;
      filter: opacity(80%);
      border-radius: 35px; }
    body main .perfil:hover {
      border: 2px solid #FFF;
      filter: opacity(1);
      width: 380px;
      height: 400px; }
    body main .Perfilperros {
      margin: 5px;
      margin-left: 50px;
      margin-right: auto; }
    body main .perfilgatos {
      margin: 5px;
      margin-left: 50px;
      margin-right: auto; }
    body main .cont_nosotros {
      width: 70%; }
    body main .text_nosotros {
      font-size: large; }
    body main .form_asociate {
      width: 100%;
      text-align: center; }
    body main .legend {
      font-size: x-large !important; }
    body main .label {
      font-size: large; }
    body main .card {
      width: 80% !important;
      margin-left: auto !important;
      margin-right: auto !important; }
    body main .Text-ayudanos {
      font-size: large; }
    body main .menu-toggler {
      margin-right: auto !important;
      margin-left: auto !important; }
    body .btn-whatsapp {
      color: #FFF;
      position: fixed;
      right: 11px;
      bottom: 5px;
      border-radius: 560%;
      line-height: 80px;
      text-align: center;
      z-index: 999; }
    body .btn-arriba {
      color: #FFF;
      position: fixed;
      left: 5px;
      bottom: 5px;
      border-radius: 560%;
      line-height: 80px;
      text-align: center;
      z-index: 999; }
    body footer {
      justify-content: space-around;
      display: block; }
      body footer hr {
        width: 50%; }
      body footer .FooterCabezal {
        display: block;
        justify-content: space-around;
        height: 134px; }
      body footer .Dona__Qr_MP {
        position: absolute;
        left: 135px;
        width: 30%;
        margin-top: 2px;
        margin-left: 0px; }
      body footer img {
        width: 25px; }
      body footer .marca_Nosotros {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_adopta {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_perros {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_gatos {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_asociate {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_ayudanos {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marcaFoorter {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
        body footer .marcaFoorter p {
          color: #FFF; } }

@media screen and (max-width: 768px) and (min-width: 416px) {
  body {
    /* ---------------- Boton de subir---------------------------*/ }
    body main hr {
      width: 50%;
      background-color: #FFF;
      border: 1px solid #FFF;
      margin-left: auto;
      margin-right: auto; }
    body main .h2 {
      font-size: large; }
    body main .video {
      width: 300px;
      margin-left: auto;
      margin-right: auto; }
    body main .video iframe {
      width: 300px;
      height: 315px;
      margin-left: auto;
      margin-right: auto; }
    body main .carousel {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 400px !important; }
    body main .consejos {
      width: 70%;
      display: block;
      margin: 10px;
      margin-right: auto !important;
      margin-left: auto !important; }
    body main .perros_Gatos {
      display: grid;
      align-items: center; }
    body main .perfil {
      width: 280px;
      height: 300px;
      filter: opacity(80%);
      border-radius: 35px; }
    body main .perfil:hover {
      border: 2px solid #FFF;
      filter: opacity(1);
      width: 380px;
      height: 400px; }
    body main .Perfilperros {
      margin: 5px;
      margin-left: 50px;
      margin-right: auto; }
    body main .perfilgatos {
      margin: 5px;
      margin-left: 50px;
      margin-right: auto; }
    body main .cont_nosotros {
      width: 70%; }
    body main .text_nosotros {
      font-size: large; }
    body main .form_asociate {
      width: 100%;
      text-align: center; }
    body main .legend {
      font-size: large; }
    body main .label {
      font-size: large; }
    body main .card {
      width: 80% !important;
      margin-left: auto !important;
      margin-right: auto !important; }
    body main .menu-toggler {
      margin-right: auto !important;
      margin-left: auto !important; }
    body .btn-whatsapp {
      color: #FFF;
      position: fixed;
      right: 20px;
      bottom: 5px;
      border-radius: 560%;
      line-height: 80px;
      text-align: center;
      z-index: 999; }
    body .btn-arriba {
      color: #FFF;
      position: fixed;
      left: 5px;
      bottom: 5px;
      border-radius: 560%;
      line-height: 80px;
      text-align: center;
      z-index: 999; }
    body footer {
      justify-content: space-around;
      display: block; }
      body footer hr {
        width: 50%; }
      body footer .FooterCabezal {
        display: block;
        justify-content: space-around;
        height: 134px; }
      body footer .Dona__Qr_MP {
        position: absolute;
        left: 155px;
        width: 30%;
        margin-top: 1px;
        margin-left: auto;
        margin-right: auto; }
      body footer img {
        width: 25px; }
      body footer .marca_Nosotros {
        width: 100%;
        position: relative;
        top: 285px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_adopta {
        width: 100%;
        position: relative;
        top: 285px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_perros {
        width: 100%;
        position: relative;
        top: 285px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_gatos {
        width: 100%;
        position: relative;
        top: 285px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_asociate {
        width: 100%;
        position: relative;
        top: 285px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_ayudanos {
        width: 100%;
        position: relative;
        top: 285px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marcaFoorter {
        width: 100%;
        position: relative;
        top: 285px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
        body footer .marcaFoorter p {
          color: #FFF; } }

@media screen and (max-width: 992px) and (min-width: 768px) {
  body {
    /* ---------------- Boton de subir---------------------------*/ }
    body main hr {
      width: 50%;
      background-color: #FFF;
      border: 1px solid #FFF;
      margin-left: auto;
      margin-right: auto; }
    body main .h2 {
      font-size: large; }
    body main .video {
      width: 500px;
      margin-left: auto;
      margin-right: auto; }
    body main .video iframe {
      width: 500px;
      height: 315px;
      margin-left: auto;
      margin-right: auto; }
    body main .carousel {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 600px !important; }
    body main .consejos {
      width: 70%;
      display: block;
      margin: 10px;
      margin-right: auto !important;
      margin-left: auto !important; }
    body main .perros_Gatos {
      display: grid;
      align-items: center; }
    body main .perfil {
      width: 280px;
      height: 300px;
      filter: opacity(80%);
      border-radius: 35px; }
    body main .perfil:hover {
      border: 2px solid #FFF;
      filter: opacity(1);
      width: 380px;
      height: 400px; }
    body main .Perfilperros {
      margin: 5px;
      margin-left: 50px;
      margin-right: auto; }
    body main .perfilgatos {
      margin: 5px;
      margin-left: 50px;
      margin-right: auto; }
    body main .cont_nosotros {
      width: 70%; }
    body main .text_nosotros {
      font-size: large; }
    body main .form_asociate {
      width: 100%;
      text-align: center; }
    body main .legend {
      font-size: large; }
    body main .label {
      font-size: large; }
    body main .card {
      width: 80% !important;
      margin-left: auto !important;
      margin-right: auto !important; }
    body main .menu-toggler {
      margin-right: auto !important;
      margin-left: auto !important; }
    body .btn-whatsapp {
      color: #FFF;
      position: fixed;
      right: 20px;
      bottom: 5px;
      border-radius: 560%;
      line-height: 80px;
      text-align: center;
      z-index: 999; }
    body .btn-arriba {
      color: #FFF;
      position: fixed;
      left: 5px;
      bottom: 5px;
      border-radius: 560%;
      line-height: 80px;
      text-align: center;
      z-index: 999; }
    body footer {
      justify-content: space-around;
      display: block; }
      body footer hr {
        width: 50%; }
      body footer .FooterCabezal {
        display: block;
        justify-content: space-around;
        height: 134px; }
      body footer .Dona__Qr_MP {
        position: absolute;
        left: 280px;
        width: 30%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto; }
      body footer img {
        width: 25px; }
      body footer .marca_Nosotros {
        width: 100%;
        position: relative;
        top: 380px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_adopta {
        width: 100%;
        position: relative;
        top: 380px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_perros {
        width: 100%;
        position: relative;
        top: 380px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_gatos {
        width: 100%;
        position: relative;
        top: 380px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_asociate {
        width: 100%;
        position: relative;
        top: 380px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_ayudanos {
        width: 100%;
        position: relative;
        top: 380px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marcaFoorter {
        width: 100%;
        position: relative;
        top: 380px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
        body footer .marcaFoorter p {
          color: #FFF; } }

@media screen and (max-width: 415px) and (min-width: 376px) {
  body {
    /* ---------------- Boton de subir---------------------------*/ }
    body main hr {
      width: 50%;
      background-color: #FFF;
      border: 1px solid #FFF;
      margin-left: auto;
      margin-right: auto; }
    body main .h2 {
      font-size: large; }
    body main .video {
      width: 300px;
      margin-left: auto;
      margin-right: auto; }
    body main .video iframe {
      width: 300px;
      height: 315px;
      margin-left: auto;
      margin-right: auto; }
    body main .carousel {
      margin-right: auto !important;
      margin-left: auto !important;
      width: 400px !important; }
    body main .consejos {
      width: 70%;
      display: block;
      margin: 10px;
      margin-right: auto !important;
      margin-left: auto !important; }
    body main .perros_Gatos {
      display: grid;
      align-items: center; }
    body main .perfil {
      width: 280px;
      height: 300px;
      filter: opacity(80%);
      border-radius: 35px; }
    body main .perfil:hover {
      border: 2px solid #FFF;
      filter: opacity(1);
      width: 380px;
      height: 400px; }
    body main .Perfilperros {
      margin: 5px;
      margin-left: 50px;
      margin-right: auto; }
    body main .perfilgatos {
      margin: 5px;
      margin-left: 50px;
      margin-right: auto; }
    body main .cont_nosotros {
      width: 70%; }
    body main .text_nosotros {
      font-size: large; }
    body main .form_asociate {
      width: 100%;
      text-align: center; }
    body main .legend {
      font-size: large; }
    body main .label {
      font-size: large; }
    body main .card {
      width: 80% !important;
      margin-left: auto !important;
      margin-right: auto !important; }
    body main .menu-toggler {
      margin-right: auto !important;
      margin-left: auto !important; }
    body .btn-whatsapp {
      color: #FFF;
      position: fixed;
      right: 20px;
      bottom: 5px;
      border-radius: 560%;
      line-height: 80px;
      text-align: center;
      z-index: 999; }
    body .btn-arriba {
      color: #FFF;
      position: fixed;
      left: 5px;
      bottom: 5px;
      border-radius: 560%;
      line-height: 80px;
      text-align: center;
      z-index: 999; }
    body footer {
      justify-content: space-around;
      display: block; }
      body footer hr {
        width: 50%; }
      body footer .FooterCabezal {
        display: block;
        justify-content: space-around;
        height: 134px; }
      body footer .Dona__Qr_MP {
        position: relative;
        left: 155px;
        width: 30%;
        margin-top: 1px;
        margin-left: auto;
        margin-right: auto; }
      body footer img {
        width: 25px; }
      body footer .marca_Nosotros {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_adopta {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_perros {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_gatos {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_asociate {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marca_ayudanos {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
      body footer .marcaFoorter {
        width: 100%;
        position: relative;
        top: 270px;
        background-color: grey;
        align-items: center;
        margin: 0px; }
        body footer .marcaFoorter p {
          color: #FFF; } }
