body{
    .btn-whatsapp {
        color: #FFF;
        position: fixed;
        right: 5px;
        bottom: 5px;
        border-radius: 560%;
        line-height: 80px;
        text-align: center;
        z-index: 999;
    }
    
    .btn-arriba {
        color: #FFF;
        position: fixed;
        left: 5px;
        bottom: 5px;
        border-radius: 560%;
        line-height: 80px;
        text-align: center;
        z-index: 999;
    }
    }