body{

    header {

        .box_header {
            display: flex;
            justify-content: center;
        }

        .redes_header {
            margin-top: 18px;
            margin-left: 920px;

        }

        .logo_header {
            justify-content: center;

        }

        .logotw {
            width: 25px;

        }

        .logofb {
            width: 25px;
        }

        .logoig {
            width: 25px;
        }
    }
}