@mixin texto {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FFF;
}

body {


    main {

        animation-duration: 2s;
        animation-name: titulo;

        @keyframes titulo {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .video iframe {
            width: 900px;
            height: 315px;
            margin-left: auto;
            margin-right: auto;
        }


        .cont_nosotros {
            @include texto();
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            font-size: 25px;
        }

        .FirmaADQ {
            margin-top: 0px;
        }

        .logoFirma img {
            width: 70px;
            margin-left: auto;
            margin-right: auto;

        }



        .perros_Gatos {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .perfil {
            width: 380px;
            height: 400px;
            filter: opacity(80%);
            border-radius: 35px;
            margin: 6px;
        }

        .perfil:hover {
            border: 2px solid #FFF;
            filter: opacity(1);
            margin: 20px;
            width: 380px;
            height: 400px;
            transform: scale(1.1, 1.1);
        }

        .cbody {
            background-color: #1f4a5c;
        }

        h5 {
            color: #2f9236;
        }

        .ico_Cards {
            width: 30px;
        }

        .box_Perfiles-dos {
            margin-top: 10px;
        }

        .container {
            width: 900px;
            height: auto;
        
            .consejos {
                margin: 10px !important;
                display: flex !important;
            }

            .carrusel-inner {
                border-radius: 10px !important;
            }

            .perrosadultos {
                border-radius: 5px;
                margin-right: auto;
                margin-left: auto;

            }

            .gatosadultos {
                border-radius: 5px;
                margin-right: auto;
                margin-left: auto;
            }

            .carousel-control-color {
                color: black !important;
            }

        }

        .form_asociate {
            margin-left: auto;
            margin-right: auto;
            width: 450px;
        }

        .Qr_MP {
            width: 200px;
            margin-left: auto;
            margin-right: auto;

        }

        legend {
            @include texto();
            font-size: 35px;
        }


        label {
            @include texto();
            font-size: 25px;
        }


    }
}