@mixin texto {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FFF;    
}
body{


    main {

        animation-duration: 2s;
        animation-name: titulo;

        @keyframes titulo {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .video iframe {
            width: 900px;
            height: 315px;
            margin-left: auto;
            margin-right: auto;
        }

        .news {
            margin-left: auto;
            margin-right: auto;
        }

        .news__Ingresos img {
            /*Recomendar images de 490px x 552*/
            max-width: 590px;
            max-height: 752px;
            margin-top: 10px;
            margin-left: 5px;
        }


        .news__Novedades {
            margin-right: 5px;
            max-width: 590px;
            max-height: 752px;
            margin-top: 10px;
        }

        .cont_nosotros {
            @include texto();
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            font-size: 25px;
        }

        .FirmaADQ {
            margin-top: 0px;
        }

        .logoFirma img {
            width: 70px;
            margin-left: auto;
            margin-right: auto;

        }



        .perros_Gatos {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .perfil {
            width: 380px;
            height: 400px;
            filter: opacity(80%);
            border-radius: 35px;
            margin: 6px;
        }

        .perfil:hover {
            border: 2px solid #FFF;
            filter: opacity(1);
            margin: 20px;
            width: 380px;
            height: 400px;
            transform: scale(1.1, 1.1);
        }


        .box_Perfiles {
            display: flex;
            justify-content: center;


        }

        .box_Perfiles img {
            width: 200px;
            filter: opacity(80%);

        }


        .box_Perfiles img:hover {
            border: 1px solid #FFF;
            filter: opacity(1);
            transform: scale(1.1, 1.1);

        }

        .form_asociate {
            margin-left: auto;
            margin-right: auto;
            width: 450px;
        }

        .Qr_MP{
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            
        }

        legend{
            @include texto();
            font-size: 35px;
        }


        label{
            @include texto();
            font-size: 25px;
        }

        
    }
}