@media screen and (max-width:415px) and (min-width:376px){
    body {

        main {
        
            hr {
                width: 50%;
                background-color: #FFF;
                border: 1px solid #FFF;
                margin-left: auto;
                margin-right: auto;
            }

            .h2 {
                font-size: large;
            }

            .video {
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }

            .video iframe {
                width: 300px;
                height: 315px;
                margin-left: auto;
                margin-right: auto;
            }

            .carousel {
                margin-right: auto !important;
                margin-left: auto !important;
                width: 400px !important;
            }

            .consejos {
                width: 70%;
                display: block;
                margin: 10px;
                margin-right: auto !important;
                margin-left: auto !important;

            }

            .perros_Gatos {
                display: grid;
                align-items: center;
            }


            .perfil {
                width: 280px;
                height: 300px;
                filter: opacity(80%);
                border-radius: 35px;
            }

            .perfil:hover {
                border: 2px solid #FFF;
                filter: opacity(1);
                width: 380px;
                height: 400px;
            }

            .Perfilperros {
                margin: 5px;
                margin-left: 50px;
                margin-right: auto;

            }

            .perfilgatos {
                margin: 5px;
                margin-left: 50px;
                margin-right: auto;
            }


            .cont_nosotros {
                width: 70%;

            }

            .text_nosotros {
                font-size: large;
            }

            .form_asociate {
                width: 100%;
                text-align: center;
            }

            .legend {
                font-size: large;
            }

            .label {
                font-size: large;
            }
            .legend {
                font-size: x-large !important;
            }

            .card {
                width: 80% !important;
                margin-left: auto !important;
                margin-right: auto !important;

            }

            .menu-toggler {
                margin-right: auto !important;
                margin-left: auto !important;
            }

        }


        .btn-whatsapp {
            color: #FFF;
            position: fixed;
            right: 20px;
            bottom: 5px;
            border-radius: 560%;
            line-height: 80px;
            text-align: center;
            z-index: 999;
        }

        /* ---------------- Boton de subir---------------------------*/
        .btn-arriba {

            color: #FFF;
            position: fixed;
            left: 5px;
            bottom: 5px;
            border-radius: 560%;
            line-height: 80px;
            text-align: center;
            z-index: 999;
        }

        footer {

            justify-content: space-around;
            display: block;

            hr {
                width: 50%;
            }


            .FooterCabezal {
                display: block;
                justify-content: space-around;
                height: 134px;

            }

            .Dona__Qr_MP {
                position: relative;
                left: 155px;
                width: 30%;
                margin-top: 1px;
                margin-left:auto;
                margin-right: auto;
            }

            img {
                width: 25px;
            }

            .marca_Nosotros {
                width: 100%;
                position: relative;
                top: 270px;
                background-color: grey;
                align-items: center;
                margin: 0px;
            }

            .marca_adopta {
                width: 100%;
                position: relative;
                top: 270px;
                background-color: grey;
                align-items: center;
                margin: 0px;
            }


            .marca_perros {
                width: 100%;
                position: relative;
                top: 270px;
                background-color: grey;
                align-items: center;
                margin: 0px;
            }

            .marca_gatos {
                width: 100%;
                position: relative;
                top: 270px;
                background-color: grey;
                align-items: center;
                margin: 0px;


            }

            .marca_asociate {
                width: 100%;
                position: relative;
                top: 270px;
                background-color: grey;
                align-items: center;
                margin: 0px;


            }

            .marca_ayudanos {
                width: 100%;
                position: relative;
                top: 270px;
                background-color: grey;
                align-items: center;
                margin: 0px;
            }


            .marcaFoorter {
                width: 100%;
                position: relative;
                top: 270px;
                background-color: grey;
                align-items: center;
                margin: 0px;



                p {
                    color: #FFF;

                }

            }


        }

    }

}